In [1]:
import spacy
import pandas as pd
import re

In [2]:
# Spacy Object
processing = spacy.load('en_core_web_md')

##### **Loading the Data**

In [3]:
df = pd.read_csv(r'F:\GUVI_DATA_SCIENCE\Project\Automated_NewsClassifier_NLP\Data_Collection\Scraped_dataset\news_classifier_dataset.csv')
print(df.shape)
df.sample()

(1001, 2)

                                                Header     Section
897  DJ duo The Chainsmokers want to use AI to clon...  Technology

##### **Text Preprocessing using Spacy**

In [4]:
corpus = []

for i in df['Header']:
    # Replacing numbers and Special Characters with whitespace
    news = re.sub('[^a-zA-Z\s]', '', i)

    # Convert the String to lowercase
    news = news.lower()

    # Removing Stop word and Lemmatisation
    doc = processing(news)
    
    news = [token.lemma_ for token in doc if not token.is_stop]
    news = ' '.join(news)

    corpus.append({'Header':news})

In [5]:
len(corpus)

1001

In [6]:
processed_header = pd.DataFrame(data = corpus, columns = ['Header'])

section_df = df['Section']

processed_df = pd.concat([processed_header, section_df], axis = 1)
processed_df

                                                 Header     Section
0        fedex airline company start lose pricing power  Automobile
1                  cnbc daily open sp end   record high  Automobile
2                          cnbc daily open sp mile long  Automobile
3                           ev tax credit easy   hard    Automobile
4     chinas xiaomi unveil ev look compete porsche t...  Automobile
...                                                 ...         ...
996               sam altmans here s new openai board s  Technology
997         openai bring sam altman ceo week fire board  Technology
998                         meta benefit openai shakeup  Technology
999   binance user pull   billion exchange ceo leave...  Technology
1000          huaweis smartphone spinoff honor plan ipo  Technology

[1001 rows x 2 columns]

In [73]:
# Saving the processed_df to a CSV file

processed_df.to_csv(r'F:\GUVI_DATA_SCIENCE\Project\Automated_NewsClassifier_NLP\Datasets\processed_dataset.csv', index = False)